<h1>Listing group_permissions</h1>

<table>
  <tr>
    <th>User group</th>
    <th>Permission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_permissions.each do |group_permission| %>
  <tr>
    <td><%= group_permission.user_group_id %></td>
    <td><%= group_permission.permission_id %></td>
    <td><%= link_to 'Show', group_permission %></td>
    <td><%= link_to 'Edit', edit_group_permission_path(group_permission) %></td>
    <td><%= link_to 'Destroy', group_permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group permission', new_group_permission_path %>
